*{
  border:solid black 1px;
}
ody{
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
  height:620px; width:1200px;
  border:solid 1px black;
}

.header{
  height:50px; width:1200px;
  text:black 11px;
  position:relative;
  /*border:solid 1px black;*/
}
.textlink{
  height:50px; width:1000px;
  position:relative
  display:inline;
  padding:5px;
}
.You{
  height:24px; width:24px;
  position:absolute;
  margin-left:900px;
  margin-right:300px;
  display:inline;
}
.Gmail{
  height:24px; width:24px;
  position:absolute;
  margin-left:950px;
  margin-right:250;
  display:inline;
}
.Images{
  height:24px; width:24px;
  position:absolute;
  margin-left:1000px;
  margin-right:200;
  display:inline;
}

td{
    height:2px;
    width:2px;
    background-color:black;
  }
.signin{
  height:25px; width:35px;
  background-color:blue;
  text:white bold Arial;
  text-align:center;
  display:inline;
}

.center{
  position:relative;
  height: 600px;
  /*border:solid 1px black;*/
  display:block;
  margin-left:auto;
  margin-right:auto;
  /*padding:150px 0px 150px 500px;*/
}
/*.logo{
  position:absolute;
  padding:150px 0px 10px 500px;
}*/
.content{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  /*border:solid 1px black;*/
}
.logo{
  position:relative;
  display:block;
  padding-left:40%;
  padding-top:100px;
  padding-bottom:20px;
  /*border:solid 1px black;*/
}
.form{
  position:relative;
  display:block;
  padding-left:35.5%;
  /*border:solid 1px black;*/
}
.querybox{
  height:50px; width:400px;
  margin-left:auto;
  margin-right:auto;
}
.submit{
  position:relative;
  padding-left:80px;
  /*border:solid 1px black;*/
  font-family:Arial, sans-serif;
}
input{
  margin:2px, 5px;
  text:bold 11px;

}
#luckybutton, #searchbutton{
  padding:5px;
  text:bold 11px Arial,sans-serif;
}
.findit{
  padding-top:5px;
  padding-bottom:5px;
  border-radius:3px;
  text:bold
}
.cause{
  position:relative;
/*  height:50px; width:300px;*/
  display:block;
  /*border:solid 1px black;*/
  font-family:Arial, sans-serif;
  text-decoration:none

}
a{
  position:absolute;
  text-decoration:none;
  text-align:center;
  margin-left:50%;
  margin-right:50%;

}
a:hover{
  text-decoration:underline;
}
.footer{
    height:50px;
    background-color:#f2f2f2;
    border: solid #e4e4e4;
}
